body{
    background-image: url(images/bcg.jpg);
    color: black;
    font-family: "Nunito";
}
#mainNavbar .navbar-brand{
    color: white;
    padding-left: 20px;
    font-size: 40px;
    font-weight: 900;
}
.logo{
    height: 50px;
    width: 50px;
    margin-right: 20px;
}
.box-login{
    background-color: white;
    border-radius: 20px;
    text-align: center;
    align-items:center ;
}
.small-logos{
    height:30px;
    width: 30px;
}
.small-ls a{
    background-color: whitesmoke;
    border-radius: 7px;
    margin-left: 5px;
}
h3{
    color: #009D92;
}
a{
    text-decoration: none;
    color: white;
}
.form-group{}